<main>
 <h1>My Profile</h1>
<div class="profile-box">
  <img src="{{user.profilePicture}}">
  <div class="profile">
    <div class="info">
      <h3>My Teams</h3>
      {{#if user.hasTeam}}
        {{#each user.newTeams}}
            <form method="POST" action="/user/leaveTeam/{{this._id}}">
                <p>{{this.name}}</p>
                <input type="submit" value="Leave Team">
            </form>
        {{/each}}
     {{else}}
        <p>You have no teams</p>
      {{/if}}
      
    </div>
    <div class="more-info">
              <h3>My Projects</h3>
        {{#if user.hasProjects}}
            {{#each user.newProjects}}
                <p>{{this.name}}</p>
            {{/each}}
        {{else}}
            <p>You have no projects!</p>
        {{/if}}
    </div>
  </div>
</div>
